<div style="width: auto">
  <h1 mat-dialog-title>Add user</h1>
  <mat-form-field style="width: 300px">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field style="width: 300px">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" email  >
  </mat-form-field>
  <br>
  <mat-radio-group [(ngModel)]="data.role">
    <mat-radio-button style="padding-right: 10px;" value="Admin">
      Admin
    </mat-radio-button>
    <mat-radio-button style="padding-bottom: 10px;" checked="true" value="Customer Executive">
      Customer Executive
    </mat-radio-button>
  </mat-radio-group>
  <mat-radio-group *ngIf="data.actionButtonText == 'EDIT USER'" [(ngModel)]="data.status">
    <mat-radio-button style="padding-right: 10px;" value="Active">
      Active
    </mat-radio-button>
    <mat-radio-button style="padding-right: 10px;" value="Inactive">
      Inactive
    </mat-radio-button>
    <mat-radio-button checked="true" style="padding-bottom: 10px;" value="Pending">
      Pending
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field style="width: 300px;">
    <mat-label>Mobile Number (Optional)</mat-label>
    <input matInput [(ngModel)]="data.mobile_no">
  </mat-form-field>
</div>
  
<div mat-dialog-actions>  
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{data.actionButtonText}}</button>
</div>