.logo {
    display: block;
    text-indent: -9999px;
    width: fit-content;
    height: 60px;
    /* background-size: 100px 82px; */
    padding-left: 20px;
    padding-right: 0px;
  }

.users {
    display: block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    /* background-size: 100px 82px; */
    padding-left: 30px;
    padding-right: 10px;
    /* background-color: darkgray; */
  }

.settings {
    display: block;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    /* background-size: 100px 82px; */
    padding-left: 40px;
    padding-right: 10px;
    /* background-color: darkgray; */
  }
.dashboard {
  color: white;
    display: block;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    /* background-size: 100px 82px; */
    padding-left: 40px;
    padding-right: 10px;
  }

.notification {
    color: white;
      display: block;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      /* background-size: 100px 82px; */
      padding-left: 160px;
      padding-right: 5px;
      margin-left: auto;
    }

.label-style {
  color: azure;
  min-width: fit-content;
}

.user {
  color: white;
      display: block;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      background-size: 100px 82px;
      padding-left: 25px;
      padding-right: 5px;
      /* margin-left: auto; */
}

.downarrow {
  color: white;
      display: block;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      background-size: 100px 82px;
      padding-left: 15px;
      /* padding-right: 0px; */
      margin-left: auto;
}
.header {
  height: 60px;
  max-width: inherit;
  overflow: hidden;
  background: black;
  display: flex;
  align-items: center;
}