<div class="header">
    <img 
      class="logo"
      src="../assets/Logo.svg"  />
      <img 
      title="Dashboard"
      class="dashboard"
      src="../assets/ico_dashboard.svg"/>
      <label class="label-style">Dashboard</label>
      <img 
      title="Users"
      class="users"
      src="../assets/ico_users.svg"/>
      <label class="label-style">Users</label>
      <img 
      title="Settings"
      class="settings"
      src="../assets/ico_sessionmanager.svg"/>
      <label class="label-style">Session Manager</label>
      <img 
      title="Notification"
      class="notification"
      src="../assets/ico_notification.svg"/>
      <img 
      class="user"
      src="../assets/ico_user.svg"/>
      <label class="label-style">John Smith</label>
      <img 
      class="downarrow"
      src="../assets/ico_downarrow.svg"/>
  </div>