<div class="parent-container">
    <div class="menu-bar">
        <img class="users" src="../../assets/ico_users.svg"/>
        <label style="font-size: x-large;">Users</label>
        <button class="add-user" (click)="openAddUserDialog()">Add Users</button>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role Type</th>
            <th>Status</th>
            <th></th>
        </tr>
    
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.status}}</td>
            <td>
                <img style="cursor: pointer;" (click)="openEditUserDialog(user)" src="../../assets/ico_edit.svg"/>
            </td>
        </tr>
    </table>
</div>