<div class="parent-container">
    <div class="menu-bar">
        <img class="users" src="../../assets/ico_users.svg"/>
        <label style="font-size: x-large;">Users</label>
        <div class="add-user" (click)="openAddUserDialog()">
            <img src="../../assets/ico_add.svg" alt="">
            <label for="" style="padding-left: 10px;">  Add Users</label>
        </div>
    </div>
    <table>
        <thead>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>ROLE TYPE</th>
                <th>STATUS</th>
                <th></th>
        </thead>
    
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.status}}</td>
            <td>
                <img style="cursor: pointer;" (click)="openEditUserDialog(user)" src="../../assets/ico_edit.svg"/>
            </td>
        </tr>
    </table>
</div>